@import "Null.scss";


@font-face{
  font-family: 'Roboto';
   display: swap;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

.wrapper{
  min-height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(40px, 40px) auto;
  grid-template-areas: "sidebar header" "sidebar main" "sidebar footer";
}


.container{
  max-width: 1280px;
  margin: 0 auto;
}

.header{
 grid-area: header;
 background-color: rgba(13, 13, 13, 1);
 padding-left: 15px;
 font-family: 'Roboto';
 
}

.sidebar{
 grid-area: sidebar;
 background-color: rgba(32, 32, 32, 1);
}

main{
  grid-area: main;
  background: rgba(24, 24, 24, 1);
  font-family: 'Roboto';
  padding-bottom: 80px;
}

.footer{
  grid-area: footer;
}

.header__menu{
  display: grid;
  grid-template-columns: 1fr 0fr;
  align-items: center;
}

.header__items{
  display: grid;
  grid-template-columns: repeat(4, 0.1fr);
  align-items: center;
  column-gap: 23px;
}

.header__item{
  line-height: 12px;
  font-size: 12px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(4, auto);
  white-space: nowrap;
  a{
    color: #fff;
    display: inline-block;
  }
}

.header__container-profi{
  display: flex;
  align-items: center;
}

.header__item:last-child{
  padding-right: 35px;
}

.header__profi{
  margin-right: 30px;
}

.header__search{
  background-color: rgba(32, 32, 32, 1);
  padding: 14px 106px 12px 20px;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
}

.container-main{
  max-width: 600px;
  margin: 0 auto;
  max-height: 100%;
}


.sidebar__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 20px;
  margin-top: -60px;
}

.sidebar__text{
  margin-bottom: 60px;
}

.text{
  font-size: 12px;
  line-height: 14px;
}

.sidebar__container-btn{
  display: flex;
}

.sidebar__btn--red{
  margin-right: 20px;
  background-color: red;
}

.sidebar__btn--blue{
  background-color: blue;
}

.sidebar__btn{
  padding: 13px 25px 13px 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  transition-duration: 500ms;
  cursor: pointer;
  &:active{
    transition-duration: 500ms;
    transform: scale(0.95, 0.95);
  }
  a{
    color: #fff;
  }
}

.sidebar__mesenger{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 15px;
  margin-bottom: 60px;
  cursor: pointer;
}

.sidebar__mesenger-mesenger{
  transition-duration: 500ms;
  &:active{
    transition-duration: 500ms;
    transform: scale(0.95);
  }
}

.text-a{
  font-size: 18px;
  color: #fff;
  line-height: 21px;
}

.sidebar__blog{
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(222, 222, 222, 1);
  margin-bottom: 18px;
}

.sidebar__text{
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}

.header__burger{
  display: none;
}

.sidebar__img{
  img{
    width: 100%;
  }
}

.container-main{
    margin: 0 auto;
    max-width: 600px;
    height: auto;
}



.title{
    padding-top: 80px;
    font-size: 21px; 
    line-height: 21px;
    color: #fff;
}



.info{
    width: 100%;
    height: auto;
}

.info__block{
    background: #202020;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    min-height: 108px;
}


.title-info{
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}

.info__content{
    padding-top: 30px;
}

.info__block{
    padding: 25px;
    overflow: hidden;
}

.text{
    color: #D2D2D2;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 9px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.info__decor{
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0px 15px;
}

.data{
    color: #828282;
    font-size: 12px;
    line-height: 14px;
}

.info__detail{
    a{
        color: rgba(16, 126, 255, 1);
    }
    margin-top: 10px;
}

.sidecreate{
    flex: 1 1 auto;
}

.info__footer{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

















@media(max-width: 650px){
    .header__items{
      display: none;
    }
    .header__profi{
      display: none;
    }
    .header__burger{
      display: flex;
    }
    .wrapper{
      min-height: 100%;
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-template-rows: minmax(40px, 40px) auto;
      grid-template-areas: "sidebar header" "sidebar main" "sidebar footer";
    }
    .container-main{
      padding-right: 20px;
      padding-left: 20px;
    }
    .search{
      display: none;
    }
    .sidebar__container-btn{
      display: grid;
      row-gap: 20px;
    }
    .sidebar__btn--red{
      margin: 0px;
    }
  }
  
  
  @media(max-width: 440px){
      .content-info__content{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(auto-fill);
          grid-auto-flow: row;
          row-gap: 24px;
      }
  }
  
  @media(max-width: 536px){
    .wrapper{
      min-height: 100%;
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-template-rows: minmax(40px, 40px) auto;
      grid-template-areas: "header header" "main main" "footer footer";
    }
    .sidebar{
      display: none;
    }
  }
  